 .contact-button {
     background-color: #7391c4 !important;
     color: white !important;
     cursor: pointer;
 }

 .card-header {
     background-color: #eff3f9;
 }

 .card-header h1 {
     color: #7391c4;

 }

 .card-header h4 {
     color: #7391c4;
 }

 #card-img img {
     width: 15%;
     height: 27%
 }

 .co-artical h1 {
     color: #7391c4;
 }

 .about-comp {
     background-color: #eff3f9 !important;
 }

 .about-contact {
     background-color: #7391c4 !important;
 }

 .number-box h1 {
     color: #7391c4 !important;
 }

 .the-team {
     background-color: #7391c4;
 }

 .ctn-col {
     background-color: white !important;
 }

 .fact-question h1 {
     color: #7391c4 !important;
 }

 .call-details {
     background-color: #f2f2f2 !important;
 }

 .call-details h3,
 h4 {
     color: #7391c4 !important;
 }

 .navbar-toggler:focus {
     text-decoration: none;
     outline: 0;
     box-shadow: none;
 }

 .accordion-button:not(.collapsed)::after {
     transform: none;
     background-image: url("/images/plus.svg");
 }

 .accordion-button::after {
     flex-shrink: 0;
     width: var(--bs-accordion-btn-icon-width);
     height: var(--bs-accordion-btn-icon-width);
     margin-left: auto;
     content: "";
     color: white;
     background-image: url("/images/plus.svg");
     background-repeat: no-repeat;
     background-size: var(--bs-accordion-btn-icon-width);
     transition: var(--bs-accordion-btn-icon-transition);
 }

 .accordion-button:not(.collapsed) {
     color: black;
     box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
 }

 .accordion-button:not(.collapsed) {
     color: white;
     background-color: #7391c4;
     box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
 }

 .img-info {
     width: 10%;
     height: 20%;
 }